* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f60f20;
  --secondary-color: #1b206e;
}

.container {
  width: 93%;
  margin: auto;
}

.home {
  display: flex;
  height: 100vh;
}

.left {
  margin-top: 50px;
  margin-left: 70px;
  width: 85%;
}

.left h3 {
  font-size: 32px;
  font-weight: 700;
}

.achieve {
  margin-top: 160px;
  line-height: 2;
}

.achieve h3 {
  font-weight: 700;
  padding: 20px 0px;
}

.achieve p {
  width: 70%;
  line-height: 1.5;
  word-spacing: 0.05rem;
  padding-bottom: 50px;
  font-weight: 500;
}

.achieve a {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  text-decoration: none;
  color: white;
  padding: 10px 30px;
}

.img {
  height: 50vh;
  width: 110%;
}

.img img {
  height: 200%;
  width: 99%;
  overflow: hidden;
}

.services {
  padding-left: 110px;
  margin-top: 200px;
}

.up h3 {
  font-size: 36px;
  font-weight: 700;
}

.up p {
  width: 95%;
  line-height: 1.5;
  letter-spacing: 0.02rem;
  padding-bottom: 50px;
  margin: 20px 0 10px;
  font-size: 1.1rem;
}

.services-up {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.service1 {
  margin: 0px 20px;
  height: 330px;
}

.service1 img {
  padding-top: 20px;
  width: 100px;
}

.service1 h3 {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 600;
  color: var(--secondary-color);
}

.service1 p {
  line-height: 1.5;
  width: 90%;
  margin: auto;
  padding: 20px;
}

.service1:hover {
  box-shadow: 20px 20px 40px rgb(0 0 0 / 10%);
  cursor: pointer;
}

.services-down {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.work {
  padding-left: 110px;
  margin-top: 200px;
}

.cards {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.card img {
  padding: 5px;
  margin: 0px;
  width: 100%;
  border: 3px solid grey;
}

.contact {
  padding-left: 110px;
  margin-top: 200px;
}

.up p {
  width: 90%;
  font-weight: 500;
}

.section {
  display: flex;
  margin-top: 80px;
  align-items: center;
}

.section-left {
  width: 50%;
  background: #f9f9f9;
  padding: 30px;
}

.section-left input,
textarea {
  padding: 10px;
  margin: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #111;
  background: transparent;
  width: 95%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
  border-radius: 10px;
}

.section-left button {
  text-decoration: none;
  background-color: var(--secondary-color);
  width: 95%;
  color: #fff;
  margin: 0;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  margin: 10px 10px;
  border: 0;
  cursor: pointer;
}

.section-right {
  width: 40%;
  background: #f9f9f9;
  margin-left: 30px;
  padding: 30px;
}

.section-right h3 {
  color: var(--secondary-color);
  font-weight: bolder;
  padding: 5px 0px;
  text-decoration: underline;
}

.flex {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.flex img {
  width: 30px;
  margin-right: 20px;
}

.footer {
  margin-top: 80px;
  background-color: #111;
  height: 150px;
  color: #fff;

}

.footer p {
  text-align: center;
  padding-top: 60px;
}
